<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>

  <IfModule mod_headers.c>
	Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
 </IfModule>